<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Twitter</title>
  </head>
  <body>
    <h1 style = "text-align:center">Welcome to Twitter</h1>
    <h3>Web site Under Construction...</h3>
  </body>
</html>